{% extends 'base.html' %}
{% block conteudo %}
    <h2 style="text-align: center;">notas da turma</h2>
    <form action="{{url_for('diario')}}" method="POST">
        <label for="">aluno</label>
        <input type="text" name="aluno">
        <label for="">nota</label>
        <input type="text" name="nota">
        <button>Adicionar</button>
    </form>
    <hr>
    {% for registro in registros %}
    <details>
        <summary>{{registro.aluno}}</summary>
        <P>{{registro.nota}}</P>
    </details>
    {% endfor %}
{% endblock conteudo %}